<br>
<br>
<br>
<h3>Your word was:</h3>
<h3>Your sentence was:</h3>
<h3>Your word appears # times in your sentence!</h3>
<br>
<h3>Ta Da!!! Are you amazed?! (actually, I'm a little shocked myself)</h3>
<br>
<br>
<h3><a href="/"Another round?!</a></h3>
