@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Welcome to the worlds greatest Word Counter!</h1>
<br>
<br>
<br>

<h3>Ready for a magic show?!</h3>
<br>
<h3>Give me a word. Then give me a sentence. Then I'll tell you how many time your word can be found in your sentence!</h3>
<br>
<br>
<form action="WordCounter" method="post">
  <label for="new-word-counter">Enter a word.</label>
  <input name="word" type="text">
<br>
<br>
  <label for="new-word-counter">Enter a sentence.</label>
  <input name="sentence" type="text">
<br>
<br>
  <button type ="submit">Count 'em up!</button>
</form>
